<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="h-screen w-full bg-zinc-900 p-10 text-white">
        
        <div class="nav mb-10">
            <a href="/" class="text-blue-500">Home</a>
        </div>
        
        <h1 class="flex justify-center text-3xl tracking-tighter">All Users</h1>
        <hr class="mb-5 mt-3">
         <div class="Users flex gap-10 flex-wrap">

            <div class="User w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-zinc-700"></div>
                <h3 class="text-xl mt-3 tracking-tighter">Trishtan Adhikari</h3>
                <h5 class="text-zinc-500">adhikaritrishtan@gmail.com</h5>
                <div class="flex gap-20 mt-10">
                    <a href="" class="text-green-500">Edit</a>
                    <a href="" class="text-red-500">Delete</a>
                </div>
            </div>

            <div class="User w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-zinc-700"></div>
                <h3 class="text-xl mt-3 tracking-tighter">Trishtan Adhikari</h3>
                <h5 class="text-zinc-500">adhikaritrishtan@gmail.com</h5>
                <div class="flex gap-20 mt-10">
                    <a href="" class="text-green-500">Edit</a>
                    <a href="" class="text-red-500">Delete</a>
                </div>
            </div>

         </div>
    </div>
</body>
</html>